

body {
  font-family: arial, sans-serif;
  font-size:   14px;
  line-height: 1.7em;
  background-image: url("http://filmpoint.pl/css/images/bg.png");
    background-repeat:no-repeat;
    background-color:#fff;
    background-position: center top;
  color: #58595B;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }



p, ul {
    margin:0 0 15px 0
}

h2 {
    font-size:16px;
    font-weight:bold;
    margin:20px 0 10px 0
}


/*** FORMS * **/

div.field, div.actions {
  margin-bottom: 10px;
}

#new_code {
    border:1px solid #ddd;
    padding:30px;
    width:200px;
    margin:20px 0 20px 0

}

#new_code input.string {
    width: 190px;
    padding:5px;
    font-size:20px
}



/*** NOTICE ***/

.notice {
  color: green;
}

.alert {
  color: red;
}

/*** ADMIN * **/

.admin {
    font-size:12px;
}

.admin ul li {
    display:inline;
    margin:0 15px 0 0
}

/*** HEADER * **/

.header {
    margin-bottom: 20px;
    margin-top:10px
}

.header ul {
    margin:0;
    padding:0
}

.header ul li {
    display:inline;
    margin:0 15px 0 0
}

/*** OFFER ***/

.offer  {
    font-size:16px;

}

.offer ul li {
    margin:0 0 0 20px;
    list-style:disc
}

.offer .intro {
    font-size:18px;
}

/*** PRODUCT ***/

.product {
    margin: 0 0 20px 0;
    float:left
}

.product p {
    margin:0
}

.product .logo {
              float:left;
width:250px    ;
    margin:0 20px 0 0
}

   .product .logo img {
        width:250px
   }

.product .info {
    float:left         ;
    width:670px
}

.product h1 {
    font-weight:bold
}

/*** ERRORS ***/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
