
<div class="content">

  <div class="module form">
<h1>Zmień Hasło</h1>

<% simple_form_for @user, :url=>password_user_path(@user) do |f| %>


    <div class="inputs">
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation, :required=>true %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>
    </div>
    </div>
