<div class="product">
  <div class="logo">
  <a href="/smd"><img src="/images/smd.png" alt="smd logo"/></a>
  </div>
               <div class="info">
  <h1><a href="/smd">Transmisja Szkolenia Facebook Marketing w ramach SearchMarketingDay</a></h1>
  <p>Start: 10:00 w czwartek 16.06.2011. Koniec: 19:00 w czwartek 16.06.2011</p>
  <p>Rejestracja i płatności: <a href="http://searchmarketingday.com/pl/#systemreklamowyfacebook">http://searchmarketingday.com/pl/#systemreklamowyfacebook</a></p>
  <p>Kontakt w sprawie kodów, rejestracji i płatności: <a href="mailto:rafal.kowalewski@maxtoy.com">rafal.kowalewski@maxroy.com</a> / 609 409 058</p>
  <p>Kontakt w sprawie problemów technicznych: <a href="mailto:kontakt@eventio.pl">kontakt@eventio.pl</a> / 604 099 886</p>
               </div>
               </div>