<div class="grid_16 offer">

  <p class="intro">Eventio to marka poznańskiego studia filmowego <a href="http://filmpoint.pl">Filmpoint &ndash; Video Marketing</a><br />
    specjalizująca się w kompleksowej realizacji płatnych transmisji internetowych.</p>

  <h2>Oferujemy:</h2>

  <ul>
    <li>Profesjonalną realizację na miejscu z wykorzystaniem kilku kamer i mikserów,</li>
    <li>Aplikację internetową umożliwiającą łatwą sprzedaż biletów,</li>
    <li>Niezawodny hosting live video oraz video on demand we współpracy z <a href="http://videocms.pl">VideoCMS</a>,</li>
    <li>Postprodukcję materiałów do jakości HD w celu dalszej dystrybucji i sprzedaży,</li>
    <li>Korzystne i elastyczne ceny.</li>
  </ul>

   <h2>Zapraszamy do współpracy:</h2>

  <p>
    <a href="mailto:kontakt@eventio.pl">kontakt@eventio.pl</a><br />
    tel. 604 099 886
  </p>

      <h2>Aktualne transmisje:</h2>
  <%= render :partial => 'smd' %>

  </div>